.login-label {
    position: relative;
    height: 120px;
    width: 150px;  
    margin-left: 43%;
    margin-top: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-justify: auto;
}
.login-header {
    position: relative;    
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-justify: auto;
    font-size: larger;
}